body {
    color: white;
    


}

.jumbotron {
    margin: 0 auto;
    text-align: center;
    background-image: url('../images/Banner.png');
    height: 300px;
    color: #fff;
    opacity: .80;
}

.pizza__landing h1 {
    padding: 100px;
    text-align: center;
    font-weight: 800;
    text-decoration: uppercase;
}

#placeInfo {
    float: left;
}

#sideBarMap {
    float: right;
    width: 550px;
}

.card {
    padding: 15px 15px 15px 15px;
    margin-bottom: 20px;
    
}

.footer-copyright {
    clear: both;
    text-align: center;
    height: 100px;
    line-height: 100px;
    background: silver;
}

.container {
    width: 1150px;
}

.submitBtn {
    float: right;
    margin: 10px auto;
}

.form-group {
    float: left;
}

#searchBtn {
    float: right;
}

.w3-display-container {
    margin-bottom: 20px;
}

#secondaryContents {
    height: 450px;
    clear: both;
}
.carousel-item img{
    border-radius: 10px 10px 10px 10px;
    max-height: 600px;
    width:100%;
    margin-bottom:50px;
}
.introduction{
    text-align:center;
    line-height: 20px;

}
.resultContainer{
    height:600px;
    background: #f9fafc;
    overflow:hidden;
   
}
.infoContainer{
    height:600px;
    width:70%;
    float:left;
    border:1px solid black;
}
.searchInput{
    float:left;
    border:1px solid black;
    width:25%;

}

/*joing up page CSS*/
/*sign up box*/
* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

form{
    margin:0 auto;
    width: 750px;
}
.wrapper{
  max-width: 940px;
  margin: 0 auto;

}
.row{
  text-align: center;
}

